.desktop15-text100 {
  top: 8120px;
  left: 249px;
  color: rgba(37, 42, 89, 1);
  width: 510px;
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-image90 {
  top: 8024px;
  left: 243px;
  width: 502px;
  height: 161px;
  position: absolute;
}

.desktop15-rectangle138 {
  top: 8065.052734375px;
  left: 1112.2236328125px;
  width: 530px;
  height: 63px;
  background-color: #f6f6f6;
  z-index: 1;
  position: absolute;
  border-radius: 16.052631378173828px;
}

.desktop15-rectangle139 {
  top: 8192.6708984375px;
  left: 1112.2236328125px;
  width: 530px;
  height: 63px;
  z-index: 1;
  position: absolute;
  background-color: #f6f6f6;
  border-radius: 16.052631378173828px;
}
.desktop15-rectangle140 {
  top: 8320.2900390625px;
  left: 1112.2236328125px;
  width: 530px;
  padding-top: 15px;
  height: 228px;
  z-index: 1;
  position: absolute;
  background-color: #f6f6f6;
  border-radius: 16.052631378173828px;
}
