.desktop15-text100 {
  top: 8120px;
  left: 249px;
  color: rgba(37, 42, 89, 1);
  width: 510px;
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-image90 {
  top: 8024px;
  left: 243px;
  width: 502px;
  height: 161px;
  position: absolute;
}
