.desktop15-image87 {
  top: 4462px;
  left: 702px;
  width: 656px;
  height: 174px;
  position: absolute;
}
.desktop15-text174 {
  top: 4556px;
  left: 670px;
  color: rgba(37, 42, 89, 1);
  width: 711px;
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop15-rectangle102 {
  top: 4661px;
  left: 1305.638671875px;
  width: 242px;
  height: 297px;
  position: absolute;
  border-radius: 34.21784210205078px;
}

.desktop15-rectangle159 {
  top: 4661px;
  left: 1563px;
  width: 242px;
  height: 297px;
  position: absolute;
  border-radius: 34.21784210205078px;
}

.desktop15-rectangle104 {
  top: 4661px;
  left: 1049.9892578125px;
  width: 242px;
  height: 297px;
  position: absolute;
  border-radius: 34.21784210205078px;
}

.desktop15-rectangle106 {
  top: 4661px;
  left: 793.330078125px;
  width: 242px;
  height: 297px;
  position: absolute;
  border-radius: 34.21784210205078px;
}

.desktop15-rectangle108 {
  top: 4661px;
  left: 536.669921875px;
  width: 242px;
  height: 297px;
  position: absolute;
  border-radius: 34.21784210205078px;
}

.desktop15-rectangle112 {
  top: 4973.533203125px;
  left: 1306.4970703125px;
  width: 242px;
  height: 297px;
  position: absolute;
  border-radius: 34.21784210205078px;
}

.desktop15-rectangle110 {
  top: 4661px;
  left: 279px;
  width: 242px;
  height: 297px;
  position: absolute;
  border-radius: 34.21784210205078px;
}

.desktop15-rectangle160 {
  top: 4973.533203125px;
  left: 1563.8583984375px;
  width: 242px;
  height: 297px;
  position: absolute;
  border-radius: 34.21784210205078px;
}

.desktop15-rectangle113 {
  top: 4973.533203125px;
  left: 1050.84765625px;
  width: 242px;
  height: 297px;
  position: absolute;
  border-radius: 34.21784210205078px;
}

.desktop15-rectangle114 {
  top: 4973.533203125px;
  left: 794.1875px;
  width: 242px;
  height: 297px;
  position: absolute;
  border-radius: 34.21784210205078px;
}

.desktop15-rectangle115 {
  top: 4973.533203125px;
  left: 537.5283203125px;
  width: 242px;
  height: 297px;
  position: absolute;
  border-radius: 34.21784210205078px;
}

.desktop15-rectangle116 {
  top: 4973.533203125px;
  left: 279.8583984375px;
  width: 242px;
  height: 297px;
  position: absolute;
  border-radius: 34.21784210205078px;
}

.desktop15-rectangle87 {
  top: 4661px;
  left: 1305.638671875px;
  width: 240px;
  height: 297px;
  opacity: 0.7;
  position: absolute;
  border-radius: 30.314132690429688px;
}

.desktop15-rectangle161 {
  top: 4661px;
  left: 1563px;
  width: 240px;
  height: 297px;
  opacity: 0.7;
  position: absolute;
  border-radius: 30.314132690429688px;
}

.desktop15-rectangle117 {
  top: 4973.533203125px;
  left: 1306.4970703125px;
  width: 240px;
  height: 297px;
  opacity: 0.7;
  position: absolute;
  border-radius: 30.314132690429688px;
}

.desktop15-rectangle105 {
  top: 4661px;
  left: 1049.9892578125px;
  width: 240px;
  height: 297px;
  opacity: 0.7;
  position: absolute;
  border-radius: 30.314132690429688px;
}

.desktop15-rectangle107 {
  top: 4661px;
  left: 793.330078125px;
  width: 240px;
  height: 297px;
  opacity: 0.7;
  position: absolute;
  border-radius: 30.314132690429688px;
}

.desktop15-rectangle162 {
  top: 4973.533203125px;
  left: 1563.8583984375px;
  width: 240px;
  height: 297px;
  opacity: 0.7;
  position: absolute;
  border-radius: 30.314132690429688px;
}

.desktop15-rectangle111 {
  top: 4661px;
  left: 279px;
  width: 240px;
  height: 297px;
  opacity: 0.7;
  position: absolute;
  border-radius: 30.314132690429688px;
}

.desktop15-image62 {
  top: 4683.23046875px;
  left: 1327.8681640625px;
  width: 91px;
  height: 88px;
  position: absolute;
}

.desktop15-text178 {
  top: 4853.50537109375px;
  left: 1324.837890625px;
  color: rgba(38, 42, 89, 1);
  height: auto;
  position: absolute;
  font-size: 17.799095153808594px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-text182 {
  top: 4781.49560546875px;
  left: 1327.8681640625px;
  color: rgba(38, 42, 89, 1);
  height: auto;
  position: absolute;
  font-size: 13.11328125px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-group25 {
  top: 4906.54443359375px;
  left: 1320.794921875px;
  width: 198.81451416015625px;
  height: 28.951858520507812px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.desktop15-rectangle1012 {
  top: 0px;
  left: 0px;
  width: 94px;
  height: 29px;
  position: absolute;
  border-radius: 11.249669075012207px;
}

.desktop15-rectangle1112 {
  top: 0px;
  left: 105.0888671875px;
  width: 94px;
  height: 29px;
  position: absolute;
  border-radius: 11.249669075012207px;
}

.desktop15-image3213 {
  top: 8.084162712097168px;
  left: 8.083783149719238px;
  width: 176px;
  height: 15px;
  position: absolute;
}

.desktop15-rectangle109 {
  top: 4661px;
  left: 536.669921875px;
  width: 240px;
  height: 297px;
  opacity: 0.7;
  position: absolute;
  border-radius: 30.314132690429688px;
}

.desktop15-image92 {
  top: 4683.23046875px;
  left: 1585.2294921875px;
  width: 91px;
  height: 88px;
  position: absolute;
}

.desktop15-text186 {
  top: 4853.50537109375px;
  left: 1582.19921875px;
  color: rgba(38, 42, 89, 1);
  height: auto;
  position: absolute;
  font-size: 17.799095153808594px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-text190 {
  top: 4781.49560546875px;
  left: 1585.2294921875px;
  color: rgba(38, 42, 89, 1);
  height: auto;
  position: absolute;
  font-size: 13.11328125px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-group51 {
  top: 4906.54443359375px;
  left: 1578.15625px;
  width: 198.81451416015625px;
  height: 28.951858520507812px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.desktop15-rectangle1013 {
  top: 0px;
  left: 0px;
  width: 94px;
  height: 29px;
  position: absolute;
  border-radius: 11.249669075012207px;
}

.desktop15-rectangle1113 {
  top: 0px;
  left: 105.0888671875px;
  width: 94px;
  height: 29px;
  position: absolute;
  border-radius: 11.249669075012207px;
}

.desktop15-image3214 {
  top: 8.084162712097168px;
  left: 8.083783149719238px;
  width: 176px;
  height: 15px;
  position: absolute;
}

.desktop15-image63 {
  top: 4683.23046875px;
  left: 1072.2197265625px;
  width: 91px;
  height: 88px;
  position: absolute;
}

.desktop15-image66 {
  top: 4683.23046875px;
  left: 301.23046875px;
  width: 91px;
  height: 88px;
  position: absolute;
}

.desktop15-image64 {
  top: 4683.23046875px;
  left: 815.5595703125px;
  width: 91px;
  height: 88px;
  position: absolute;
}

.desktop15-image65 {
  top: 4683.23046875px;
  left: 558.900390625px;
  width: 91px;
  height: 88px;
  position: absolute;
}

.desktop15-image67 {
  top: 4995.763671875px;
  left: 1328.7275390625px;
  width: 91px;
  height: 88px;
  position: absolute;
}

.desktop15-text194 {
  top: 5166.0390625px;
  left: 1325.6953125px;
  color: rgba(38, 42, 89, 1);
  height: auto;
  position: absolute;
  font-size: 17.799095153808594px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-text198 {
  top: 5094.02880859375px;
  left: 1328.7275390625px;
  color: rgba(38, 42, 89, 1);
  height: auto;
  position: absolute;
  font-size: 13.11328125px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-group30 {
  top: 5219.078125px;
  left: 1321.654296875px;
  width: 198.81451416015625px;
  height: 28.951858520507812px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.desktop15-rectangle1014 {
  top: -0.0002126902836607769px;
  left: -0.000018484208339941688px;
  width: 94px;
  height: 29px;
  position: absolute;
  border-radius: 11.249669075012207px;
}

.desktop15-rectangle1114 {
  top: -0.0002126902836607769px;
  left: 105.0888671875px;
  width: 94px;
  height: 29px;
  position: absolute;
  border-radius: 11.249669075012207px;
}

.desktop15-image3215 {
  top: 8.08349609375px;
  left: 8.0830078125px;
  width: 176px;
  height: 15px;
  position: absolute;
}

.desktop15-text202 {
  top: 4853.50537109375px;
  left: 298.1982421875px;
  color: rgba(38, 42, 89, 1);
  height: auto;
  position: absolute;
  font-size: 17.799095153808594px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-rectangle118 {
  top: 4973.533203125px;
  left: 1050.84765625px;
  width: 240px;
  height: 297px;
  opacity: 0.7;
  position: absolute;
  border-radius: 30.314132690429688px;
}

.desktop15-rectangle119 {
  top: 4973.533203125px;
  left: 794.1875px;
  width: 240px;
  height: 297px;
  opacity: 0.7;
  position: absolute;
  border-radius: 30.314132690429688px;
}

.desktop15-rectangle120 {
  top: 4973.533203125px;
  left: 279.8583984375px;
  width: 240px;
  height: 297px;
  opacity: 0.7;
  position: absolute;
  border-radius: 30.314132690429688px;
}

.desktop15-rectangle121 {
  top: 4973.533203125px;
  left: 537.5283203125px;
  width: 240px;
  height: 297px;
  opacity: 0.7;
  position: absolute;
  border-radius: 30.314132690429688px;
}

.desktop15-text206 {
  top: 4853.50537109375px;
  left: 1069.1884765625px;
  color: rgba(38, 42, 89, 1);
  height: auto;
  position: absolute;
  font-size: 17.799095153808594px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-text210 {
  top: 4853.50537109375px;
  left: 812.5283203125px;
  color: rgba(38, 42, 89, 1);
  height: auto;
  position: absolute;
  font-size: 17.799095153808594px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-text214 {
  top: 4853.50537109375px;
  left: 555.869140625px;
  color: rgba(38, 42, 89, 1);
  height: auto;
  position: absolute;
  font-size: 17.799095153808594px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-image93 {
  top: 4995.763671875px;
  left: 1586.0888671875px;
  width: 91px;
  height: 88px;
  position: absolute;
}

.desktop15-text218 {
  top: 5166.0390625px;
  left: 1583.056640625px;
  color: rgba(38, 42, 89, 1);
  height: auto;
  position: absolute;
  font-size: 17.799095153808594px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-text222 {
  top: 5094.02880859375px;
  left: 1586.0888671875px;
  color: rgba(38, 42, 89, 1);
  height: auto;
  position: absolute;
  font-size: 13.11328125px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-group52 {
  top: 5219.078125px;
  left: 1579.015625px;
  width: 198.81451416015625px;
  height: 28.951858520507812px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.desktop15-rectangle1015 {
  top: -0.0002126902836607769px;
  left: -0.000018484208339941688px;
  width: 94px;
  height: 29px;
  position: absolute;
  border-radius: 11.249669075012207px;
}

.desktop15-rectangle1115 {
  top: -0.0002126902836607769px;
  left: 105.0888671875px;
  width: 94px;
  height: 29px;
  position: absolute;
  border-radius: 11.249669075012207px;
}

.desktop15-image3216 {
  top: 8.08349609375px;
  left: 8.0830078125px;
  width: 176px;
  height: 15px;
  position: absolute;
}

.desktop15-text226 {
  top: 4781.49560546875px;
  left: 301.23046875px;
  color: rgba(38, 42, 89, 1);
  height: auto;
  position: absolute;
  font-size: 13.11328125px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-text230 {
  top: 4781.49560546875px;
  left: 1072.2197265625px;
  color: rgba(38, 42, 89, 1);
  height: auto;
  position: absolute;
  font-size: 13.11328125px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-image68 {
  top: 4995.763671875px;
  left: 1073.078125px;
  width: 91px;
  height: 88px;
  position: absolute;
}

.desktop15-image69 {
  top: 4995.763671875px;
  left: 302.0888671875px;
  width: 91px;
  height: 88px;
  position: absolute;
}

.desktop15-image70 {
  top: 4995.763671875px;
  left: 816.4189453125px;
  width: 91px;
  height: 88px;
  position: absolute;
}

.desktop15-image71 {
  top: 4995.763671875px;
  left: 559.7587890625px;
  width: 91px;
  height: 88px;
  position: absolute;
}

.desktop15-text234 {
  top: 5166.0390625px;
  left: 299.0576171875px;
  color: rgba(38, 42, 89, 1);
  height: auto;
  position: absolute;
  font-size: 17.799095153808594px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop15-text238 {
  top: 5166.0390625px;
  left: 1070.046875px;
  color: rgba(38, 42, 89, 1);
  height: auto;
  position: absolute;
  font-size: 17.799095153808594px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-text242 {
  top: 5166.0390625px;
  left: 813.3876953125px;
  color: rgba(38, 42, 89, 1);
  height: auto;
  position: absolute;
  font-size: 17.799095153808594px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-text246 {
  top: 5166.0390625px;
  left: 556.7275390625px;
  color: rgba(38, 42, 89, 1);
  height: auto;
  position: absolute;
  font-size: 17.799095153808594px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-text250 {
  top: 5094.02880859375px;
  left: 302.0888671875px;
  color: rgba(38, 42, 89, 1);
  height: auto;
  position: absolute;
  font-size: 13.11328125px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-text254 {
  top: 5094.02880859375px;
  left: 1073.078125px;
  color: rgba(38, 42, 89, 1);
  height: auto;
  position: absolute;
  font-size: 13.11328125px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-text258 {
  top: 5094.02880859375px;
  left: 816.4189453125px;
  color: rgba(38, 42, 89, 1);
  height: auto;
  position: absolute;
  font-size: 13.11328125px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-group31 {
  top: 5219.078125px;
  left: 301.078369140625px;
  width: 93.72552490234375px;
  height: 28.951858520507812px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.desktop15-rectangle1116 {
  top: -0.0002126902836607769px;
  left: 0.00022942469513509423px;
  width: 94px;
  height: 29px;
  position: absolute;
  border-radius: 11.249669075012207px;
}

.desktop15-image3217 {
  top: 8.08349609375px;
  left: 4.0419921875px;
  width: 78px;
  height: 15px;
  position: absolute;
}

.desktop15-text262 {
  top: 5094.02880859375px;
  left: 559.7587890625px;
  color: rgba(38, 42, 89, 1);
  height: auto;
  position: absolute;
  font-size: 13.11328125px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-group32 {
  top: 5219.078125px;
  left: 1066.0048828125px;
  width: 198.81439208984375px;
  height: 28.951858520507812px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.desktop15-rectangle1016 {
  top: -0.0002126902836607769px;
  left: 0.00014244311023503542px;
  width: 94px;
  height: 29px;
  position: absolute;
  border-radius: 11.249669075012207px;
}

.desktop15-rectangle1117 {
  top: -0.0002126902836607769px;
  left: 105.08902740478516px;
  width: 94px;
  height: 29px;
  position: absolute;
  border-radius: 11.249669075012207px;
}

.desktop15-image3218 {
  top: 8.08349609375px;
  left: 8.0849609375px;
  width: 176px;
  height: 15px;
  position: absolute;
}

.desktop15-group33 {
  top: 5219.078125px;
  left: 809.345703125px;
  width: 93.72552490234375px;
  height: 28.951858520507812px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.desktop15-rectangle1017 {
  top: -0.0002126902836607769px;
  left: -0.00004618600360117853px;
  width: 94px;
  height: 29px;
  position: absolute;
  border-radius: 11.249669075012207px;
}

.desktop15-image3219 {
  top: 8.08349609375px;
  left: 8.083984375px;
  width: 82px;
  height: 15px;
  position: absolute;
}

.desktop15-group34 {
  top: 5219.078125px;
  left: 552.685546875px;
  width: 198.81439208984375px;
  height: 28.951858520507812px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.desktop15-rectangle1018 {
  top: -0.0002126902836607769px;
  left: -0.00011646433267742395px;
  width: 94px;
  height: 29px;
  position: absolute;
  border-radius: 11.249669075012207px;
}

.desktop15-rectangle1118 {
  top: -0.0002126902836607769px;
  left: 105.0887680053711px;
  width: 94px;
  height: 29px;
  position: absolute;
  border-radius: 11.249669075012207px;
}

.desktop15-image3220 {
  top: 8.08349609375px;
  left: 8.083984375px;
  width: 176px;
  height: 15px;
  position: absolute;
}

.desktop15-text266 {
  top: 4781.49560546875px;
  left: 815.5595703125px;
  color: rgba(38, 42, 89, 1);
  height: auto;
  position: absolute;
  font-size: 13.11328125px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-group29 {
  top: 4906.54443359375px;
  left: 300.2197265625px;
  width: 93.72552490234375px;
  height: 28.951858520507812px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}

.desktop15-image3221 {
  top: 8.083984375px;
  left: 4.0419921875px;
  width: 78px;
  height: 15px;
  position: absolute;
}

.desktop15-text270 {
  top: 4781.49560546875px;
  left: 558.900390625px;
  color: rgba(38, 42, 89, 1);
  height: auto;
  position: absolute;
  font-size: 13.11328125px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-group26 {
  top: 4906.54443359375px;
  left: 1065.14453125px;
  width: 198.81439208984375px;
  height: 28.951858520507812px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.desktop15-rectangle1019 {
  top: 0px;
  left: 0px;
  width: 94px;
  height: 29px;
  position: absolute;
  border-radius: 11.249669075012207px;
}

.desktop15-rectangle1119 {
  top: 0px;
  left: 105.0888671875px;
  width: 94px;
  height: 29px;
  position: absolute;
  border-radius: 11.249669075012207px;
}

.desktop15-image3222 {
  top: 8.084162712097168px;
  left: 8.08480167388916px;
  width: 176px;
  height: 15px;
  position: absolute;
}

.desktop15-group27 {
  top: 4906.54443359375px;
  left: 808.486328125px;
  width: 93.72552490234375px;
  height: 28.951858520507812px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}

.desktop15-image3223 {
  top: 8.083984375px;
  left: 8.0849609375px;
  width: 82px;
  height: 15px;
  position: absolute;
}

.desktop15-group28 {
  top: 4906.54443359375px;
  left: 551.8271484375px;
  width: 198.81451416015625px;
  height: 28.951858520507812px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.desktop15-rectangle1020 {
  top: 0.00023708751541562378px;
  left: 0.00007026421371847391px;
  width: 94px;
  height: 29px;
  position: absolute;
  border-radius: 11.249669075012207px;
}

.desktop15-rectangle1120 {
  top: 0.00023708751541562378px;
  left: 105.08895111083984px;
  width: 94px;
  height: 29px;
  position: absolute;
  border-radius: 11.249669075012207px;
}

.desktop15-image3224 {
  top: 8.083984375px;
  left: 8.083984375px;
  width: 176px;
  height: 15px;
  position: absolute;
}

.desktop15-ellipse37 {
  top: 4937px;
  left: 1836px;
  width: 74px;
  height: 74px;
  position: absolute;
}

.desktop15-arrow5 {
  top: 4974px;
  left: 1860px;
  width: 25px;
  height: 1px;
  position: absolute;
}

.desktop15-ellipse38 {
  top: 5011px;
  left: 251px;
  width: 74px;
  height: 74px;
  position: absolute;
}

.desktop15-arrow6 {
  top: 4974px;
  left: 226px;
  width: 25px;
  height: 1px;
  position: absolute;
}
