.desktop15-rectangle14 {
  top: -30.000091552734375px;
  left: 0.00005340576171875px;
  width: 2105px;
  height: 1303px;
  /* z-index: -1; */
  position: absolute;
}
.desktop15-xftjj1 {
  top: 295.5849609375px;
  left: 882.9365234375px;
  width: 108px;
  height: 73px;
  opacity: 0.88;
  position: absolute;
}
.desktop15-cghymk1 {
  top: 379.1142578125px;
  left: 418.09375px;
  width: 204px;
  height: 188px;
  opacity: 0.88;
  position: absolute;
}
.desktop15-ukyfk1 {
  top: 498.533203125px;
  left: 126.30276489257812px;
  width: 126px;
  height: 114px;
  opacity: 0.44;
  position: absolute;
}

.desktop15-szd3 {
  top: 335px;
  left: 1451.8828125px;
  width: 137px;
  height: 92px;
  opacity: 0.88;
  position: absolute;
}

.desktop15-vhn4 {
  top: 259.97662353515625px;
  left: 1646.537109375px;
  width: 247px;
  height: 228px;
  position: absolute;
}

.desktop15-xtfj4 {
  top: 240.2285614013672px;
  left: 1563.3662109375px;
  width: 137px;
  height: 126px;
  opacity: 0.36;
  position: absolute;
}

.desktop15-cguk4 {
  top: 622.79296875px;
  left: 1909.7578125px;
  width: 132px;
  height: 119px;
  opacity: 0.88;
  position: absolute;
}

.desktop15-xgfh4 {
  top: 230.11328125px;
  left: 1792.1162109375px;
  width: 107px;
  height: 98px;
  opacity: 0.36;
  position: absolute;
}

.desktop15-xdth3 {
  top: 392.97869873046875px;
  left: 1973.59375px;
  width: 120px;
  height: 80px;
  opacity: 0.48;
  position: absolute;
}
.desktop15n1 {
  top: 119.3534164428711px;
  left: 602.59375px;
  width: 139px;
  height: 129px;
  opacity: 0.44;
  position: absolute;
}
.desktop15-xfm1 {
  top: 554.1376342773438px;
  left: 296.39569091796875px;
  width: 83px;
  height: 55px;
  position: absolute;
}

.desktop15s {
  top: 212.7353515625px;
  left: 1621.59375px;
  width: 100px;
  height: 100px;
  position: absolute;
}

.desktop15z {
  top: 639.873046875px;
  left: 92.8134765625px;
  width: 60px;
  height: 59px;
  position: absolute;
}

.desktop15x {
  top: 616.59765625px;
  left: 475.9697265625px;
  width: 36px;
  height: 35px;
  position: absolute;
}

.desktop15m {
  top: 618.28515625px;
  left: 1898.50390625px;
  width: 48px;
  height: 50px;
  opacity: 0.48;
  position: absolute;
}

.desktop15v {
  top: 257.1162109375px;
  left: 1771.59375px;
  width: 16px;
  height: 30px;
  position: absolute;
}

.desktop15b {
  top: 317.7355651855469px;
  left: 594.59375px;
  width: 58px;
  height: 58px;
  position: absolute;
}

.desktop15c {
  top: 215.962890625px;
  left: 120.54296875px;
  width: 52px;
  height: 51px;
  position: absolute;
}

.desktop15n {
  top: 668px;
  left: 1585px;
  width: 84px;
  height: 82px;
  position: absolute;
}
.desktop15-text105 {
  top: 314.1640625px;
  left: 926px;
  color: rgba(69, 170, 213, 1);
  height: auto;
  position: absolute;
  font-size: 18.17445945739746px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop15-asset12 {
  top: 271px;
  left: 1018px;
  width: 69px;
  height: 39px;
  position: absolute;
}

.desktop15-text285 {
  top: 382px;
  left: 662px;
  color: rgba(37, 42, 89, 1);
  height: auto;
  position: absolute;
  font-size: 76.01367950439453px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-text284 {
  top: 677px;
  left: 787px;
  color: rgba(22, 29, 87, 1);
  height: auto;
  position: absolute;
  font-size: 26px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
