.desktop15-text283 {
  top: 1106px;
  left: 991px;
  color: rgba(38, 42, 89, 1);
  width: 124px;
  height: auto;
  position: absolute;
  font-size: 17.76213836669922px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop15-rectangle164 {
  top: 1143px;
  width: 100%;
  height: 83px;
  position: absolute;
  border-radius: 42.25806427001953px;
}
.desktop15-group53 {
  top: 1156px;
  left: 692px;
  width: 494.07623291015625px;
  height: 58.3441047668457px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop15-zth3 {
  top: 7px;
  left: 400px;
  width: 133px;
  height: 48px;
  position: absolute;
}
.desktop15-dtyj3 {
  top: 1px;
  width: 92px;
  height: 51px;
  position: absolute;
}
.desktop15-image41 {
  left: 200px;
  top: -35px;
  width: 112px;
  height: 125px;
  position: absolute;
}

.desktop15-gyik2 {
  left: 600px;
  width: 60px;
  height: 60px;
  position: absolute;
}
