.desktop15-text106 {
  top: 1891.1015625px;
  left: 213px;
  color: rgba(38, 42, 89, 1);
  width: 1262px;
  height: auto;
  position: absolute;
  font-size: 32.98851013183594px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-text107 {
  color: rgba(38, 42, 89, 1);
  font-weight: 500;
}
.desktop15-text109 {
  color: rgba(38, 42, 89, 1);
  font-weight: 500;
}

.desktop15-text111 {
  color: rgba(38, 42, 89, 1);
  font-weight: 500;
}

.desktop15-text112 {
  color: rgba(255, 176, 66, 1);
  font-weight: 700;
}

.desktop15-text113 {
  color: rgba(38, 42, 89, 1);
  font-weight: 500;
}

.desktop15-text115 {
  color: rgba(38, 42, 89, 1);
  font-weight: 500;
}

.desktop15-text116 {
  color: rgba(255, 176, 66, 1);
  font-weight: 700;
}
