.desktop15-text106 {
  top: 1891.1015625px;
  left: 213px;
  color: rgba(38, 42, 89, 1);
  width: 1262px;
  height: auto;
  position: absolute;
  font-size: 32.98851013183594px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-text107 {
  color: rgba(38, 42, 89, 1);
  font-weight: 500;
}
.desktop15-text109 {
  color: rgba(38, 42, 89, 1);
  font-weight: 500;
}

.desktop15-text111 {
  color: rgba(38, 42, 89, 1);
  font-weight: 500;
}

.desktop15-text112 {
  color: rgba(255, 176, 66, 1);
  font-weight: 700;
}

.desktop15-text113 {
  color: rgba(38, 42, 89, 1);
  font-weight: 500;
}

.desktop15-text115 {
  color: rgba(38, 42, 89, 1);
  font-weight: 500;
}

.desktop15-text116 {
  color: rgba(255, 176, 66, 1);
  font-weight: 700;
}

.desktop15-graduationcap19015289ezgifcomgifmaker1 {
  top: -230px;
  left: 1145px;
  width: 77px;
  height: 77px;
  position: absolute;
  z-index: 3;
}

.desktop15-rectangle59 {
  top: -230px;
  left: 1135px;
  width: 90px;
  height: 85px;
  position: absolute;
  border-radius: 15.882353782653809px;
  z-index: 2;
}

.desktop15-rectangle52 {
  top: -245px;
  left: 1128px;
  width: 507px;
  height: 116px;
  z-index: 1;
  position: absolute;
  border-radius: 18.21714210510254px;
}

.desktop15-rectangle51 {
  top: -118px;
  left: 1128px;
  width: 507px;
  height: 116px;
  position: absolute;
  border-radius: 18.21714210510254px;
}

.desktop15-text173 {
  top: -200px;
  left: 1250px;
  width: 440px;
  color: rgba(38, 42, 89, 1);
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  z-index: 3;
  font-stretch: normal;
  text-decoration: none;
}
.desktop15-rectangle58 {
  top: -100px;
  left: 1138.0703125px;
  width: 88px;
  height: 83px;
  position: absolute;
  border-radius: 15.614693641662598px;
}

.desktop15-text172 {
  top: -75px;
  left: 1250px;
  width: 440px;
  color: rgba(38, 42, 89, 1);
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-design15557728ezgifcomgifmaker {
  top: -100px;
  left: 1145px;
  width: 80px;
  height: 80px;
  position: absolute;
}
