.desktop15-text106 {
  top: 1891.1015625px;
  left: 213px;
  color: rgba(38, 42, 89, 1);
  width: 1262px;
  height: auto;
  position: absolute;
  font-size: 32.98851013183594px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-text107 {
  color: rgba(38, 42, 89, 1);
  font-weight: 500;
}
.desktop15-text109 {
  color: rgba(38, 42, 89, 1);
  font-weight: 500;
}

.desktop15-text111 {
  color: rgba(38, 42, 89, 1);
  font-weight: 500;
}

.desktop15-text112 {
  color: rgba(255, 176, 66, 1);
  font-weight: 700;
}

.desktop15-text113 {
  color: rgba(38, 42, 89, 1);
  font-weight: 500;
}

.desktop15-text115 {
  color: rgba(38, 42, 89, 1);
  font-weight: 500;
}

.desktop15-text116 {
  color: rgba(255, 176, 66, 1);
  font-weight: 700;
}

.desktop15-graduationcap19015289ezgifcomgifmaker1 {
  top: -200px;
  left: 1072px;
  width: 77px;
  height: 77px;
  position: absolute;
  z-index: 3;
}

.desktop15-rectangle59 {
  top: -203px;
  left: 1068px;
  width: 90px;
  height: 85px;
  position: absolute;
  border-radius: 15.882353782653809px;
  z-index: 2;
}

.desktop15-rectangle52 {
  top: -245px;
  left: 1028px;
  width: 507px;
  height: 176px;
  z-index: 1;
  position: absolute;
  border-radius: 18.21714210510254px;
}

.desktop15-rectangle51 {
  top: -103px;
  left: 1026px;
  width: 512px;
  height: 176px;
  position: absolute;
  border-radius: 18.21714210510254px;
}

.desktop15-text173 {
  top: -170px;
  left: 1186px;
  width: 440px;
  color: rgba(38, 42, 89, 1);
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  z-index: 3;
  font-stretch: normal;
  text-decoration: none;
}
.desktop15-rectangle58 {
  top: -61px;
  left: 1070.070313px;
  width: 88px;
  height: 83px;
  position: absolute;
  border-radius: 15.614693641662598px;
}

.desktop15-text172 {
  top: -32px;
  left: 1187px;
  width: 440px;
  color: rgba(38, 42, 89, 1);
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-design15557728ezgifcomgifmaker {
  top: -61px;
  left: 1073px;
  width: 80px;
  height: 80px;
  position: absolute;
}
.desktop15-rectangle63 {
  top: 36px;
  left: 1025px;
  width: 507px;
  height: 176px;
  position: absolute;
  z-index: 1;
  border-radius: 18.21714210510254px;
}

.desktop15-text171 {
  top: 108px;
  left: 1163px;
  width: 446px;
  color: rgba(38, 42, 89, 1);
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  z-index: 2;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-safechildren16441409ezgifcomgifmaker {
  top: 77.557617px;
  left: 1072.324219px;
  width: 91px;
  height: 91px;
  z-index: 2;
  position: absolute;
}
.desktop15-image84 {
  top: -150.5576171875px;
  width: 505px;
  height: 199px;
  position: absolute;
}
