.desktop15-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.desktop15-desktop15 {
  height: 9144px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  background-color: #ffffff;
}

.desktop15-ellipse43 {
  top: 8846px;
  left: -466px;
  width: 100%;
  height: 1748px;
  position: absolute;
}

.desktop15-text104 {
  top: 8251px;
  left: 274px;
  color: rgba(37, 42, 89, 1);
  width: 139px;
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-group24 {
  top: 141px;
  left: 22px;
  height: 797.05810546875px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.desktop15-text138 {
  top: 6926px;
  left: 1157px;
  color: rgba(37, 42, 89, 1);
  width: 306px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-image3211 {
  top: -44px;
  left: -165px;
  width: 555px;
  height: 720px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(221, 244, 253, 1);
}

.desktop15img94052 {
  top: -6.843315124511719px;
  left: -37.07611083984375px;
  width: 318px;
  height: 477px;
  position: absolute;
}

.desktop15img95562 {
  top: -18.7880859375px;
  left: -22.366455078125px;
  width: 267px;
  height: 401px;
  position: absolute;
}

.desktop15img95072 {
  top: -6px;
  left: -9.999755859375px;
  width: 275px;
  height: 411px;
  position: absolute;
}

.desktop15img92092 {
  top: -18.634765625px;
  left: -18.865234375px;
  width: 301px;
  height: 451px;
  position: absolute;
}

.desktop15-vector7 {
  top: 7983.98681640625px;
  left: 1100.5859375px;
  width: 549px;
  height: 1px;
  position: absolute;
}

.desktop15-vector8 {
  top: 8672.53125px;
  left: 223.5px;
  width: 100%;
  height: 1px;
  opacity: 0.3;
  position: absolute;
}

.desktop15-text168 {
  top: 11.03515625px;
  left: 71px;
  color: rgba(0, 0, 0, 1);
  width: 125px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-text169 {
  top: 28.03515625px;
  left: 71px;
  color: rgba(0, 0, 0, 1);
  width: 125px;
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-asset111 {
  top: 14.03515625px;
  left: 10px;
  width: 61px;
  height: 48px;
  position: absolute;
  border-radius: 15.115682601928711px;
}

.desktop15-group42 {
  top: 3960px;
  left: 753px;
  width: 464.6830749511719px;
  height: 63.703330993652344px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.desktop15-rectangle1011 {
  top: -0.00002304565532540437px;
  left: -0.0001389316312270239px;
  width: 206px;
  height: 64px;
  position: absolute;
  border-radius: 13.733296394348145px;
}

.desktop15-rectangle1111 {
  top: 0px;
  left: 258.45703125px;
  width: 206px;
  height: 64px;
  position: absolute;
  border-radius: 13.733296394348145px;
}

.desktop15-image3212 {
  top: 13.56689453125px;
  left: 14.8369140625px;
  width: 419px;
  height: 37px;
  position: absolute;
}

.desktop15-rectangle60 {
  top: 1939.5576171875px;
  left: 1355px;
  width: 88px;
  height: 83px;
  position: absolute;
  border-radius: 15.614693641662598px;
}

.desktop15-rectangle158 {
  top: 1939.5576171875px;
  left: 1352.0703125px;
  width: 88px;
  height: 83px;
  position: absolute;
  border-radius: 15.614693641662598px;
}

.desktop15-group18 {
  position: fixed; /* fixed relative to viewport */
  top: 92px; /* distance from the top */
  left: 50%; /* start from the horizontal center */
  transform: translateX(-50%); /* shift left by half width to center */

  width: 1198px;
  height: 60px;
  border-radius: 50px;

  display: flex;
  align-items: flex-start;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 1);
}
.desktop15-text292 {
  top: 20px;
  left: 118px;
  color: rgba(38, 42, 89, 1);
  height: auto;
  position: absolute;
  font-size: 16.565902709960938px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-text293 {
  top: 20px;
  left: 196px;
  color: rgba(38, 42, 89, 1);
  height: auto;
  position: absolute;
  font-size: 16.565902709960938px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-text294 {
  top: 20px;
  left: 312px;
  color: rgba(38, 42, 89, 1);
  height: auto;
  position: absolute;
  font-size: 16.565902709960938px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-text295 {
  top: 20px;
  left: 418px;
  color: rgba(38, 42, 89, 1);
  height: auto;
  position: absolute;
  font-size: 16.565902709960938px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-text296 {
  top: 20px;
  left: 546px;
  color: rgba(38, 42, 89, 1);
  height: auto;
  position: absolute;
  font-size: 16.565902709960938px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-text297 {
  top: 20px;
  left: 619px;
  color: rgba(38, 42, 89, 1);
  height: auto;
  position: absolute;
  font-size: 16.565902709960938px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-asset112 {
  top: 17px;
  left: 45px;
  width: 45px;
  height: 25px;
  position: absolute;
}

.desktop15-group19 {
  top: 18px;
  left: 956px;
  width: 220.168212890625px;
  height: 22.130712509155273px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.desktop15-group15 {
  top: 1px;
  left: 0px;
  width: 128px;
  height: 20.900625228881836px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.desktop15-image21 {
  top: 0px;
  left: 0.0000010486555765965022px;
  width: 128px;
  height: 21px;
  position: absolute;
}

.desktop15-rectangle6 {
  top: 0px;
  left: 152.1953125px;
  width: 68px;
  height: 22px;
  position: absolute;
  border-color: rgba(38, 42, 89, 1);
  border-style: solid;
  border-width: 1.6549805402755737px;
  border-radius: 7.9038262367248535px;
}

.desktop15-text298 {
  top: 5px;
  left: 165px;
  color: rgba(41, 68, 126, 1);
  height: auto;
  position: absolute;
  font-size: 12.412355422973633px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-arrow1 {
  top: 12px;
  left: 207px;
  width: 2px;
  height: 1px;
  position: absolute;
}

.desktop15-rectangle137 {
  width: 718px;
  height: 822px;
  z-index: 0;
  position: absolute;
  border-radius: 39.96132278442383px;
}

.desktop15-link {
  display: contents;
}

.desktop15-container3 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}

.desktop15-icon1 {
  width: 24px;
  margin-right: 4px;
}

.desktop15-text299 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.desktop15-container3 {
  top: 7868px;
  left: 1011px;
  width: 718px;
  height: 822px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}
