#snackbar {
  position: fixed;
  top: 20px;
  right: -300px; /* initially hidden outside screen */
  min-width: 250px;
  padding: 16px;
  border-radius: 4px;
  background-color: #d32f2f;
  color: #fff;
  z-index: 9999;
  opacity: 0;

  transition: right 0.4s ease, opacity 0.4s ease;
}

#snackbar.show {
  right: 20px; /* slides into screen */
  opacity: 1;
}
