.desktop15-rectangle122 {
  top: 5754px;
  left: 1251.662109375px;
  width: 514px;
  height: 157px;
  position: absolute;
  border-radius: 10.466204643249512px;
}

.desktop15-rectangle126 {
  top: 5942.1005859375px;
  left: 1066.125px;
  width: 514px;
  height: 157px;
  position: absolute;
  border-radius: 10.466204643249512px;
}

.desktop15-rectangle127 {
  top: 5942.1005859375px;
  left: 1066px;
  width: 10px;
  height: 157px;
  position: absolute;
  border-radius: 28.586904525756836px 0 0 28.586904525756836px;
}

.desktop15-rectangle130 {
  top: 5754px;
  left: 1251.5380859375px;
  width: 10px;
  height: 157px;
  position: absolute;
  border-radius: 28.586904525756836px 0 0 28.586904525756836px;
}

.desktop15-rectangle128 {
  top: 6130.783203125px;
  left: 1205.9912109375px;
  width: 514px;
  height: 157px;
  position: absolute;
  border-radius: 8.563258171081543px;
}

.desktop15-text274 {
  top: 5806px;
  left: 211px;
  color: rgba(37, 42, 89, 1);
  width: 224px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-ellipse40 {
  top: 5792.05908203125px;
  left: 1298.16015625px;
  width: 81px;
  height: 81px;
  position: absolute;
}

.desktop15-ellipse41 {
  top: 5986.81982421875px;
  left: 1109.7685546875px;
  width: 81px;
  height: 81px;
  position: absolute;
}

.desktop15-ellipse42 {
  top: 6168.84228515625px;
  left: 1251.5380859375px;
  width: 81px;
  height: 81px;
  position: absolute;
}

.desktop15-text275 {
  top: 5802.52490234375px;
  left: 1402.822265625px;
  color: rgba(38, 42, 89, 1);
  width: 112px;
  height: auto;
  position: absolute;
  font-size: 19.449010848999023px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-text276 {
  top: 5997.2861328125px;
  left: 1214.4296875px;
  color: rgba(38, 42, 89, 1);
  width: 136px;
  height: auto;
  position: absolute;
  font-size: 19.449010848999023px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-rectangle131 {
  top: 6130.783203125px;
  left: 1205.8671875px;
  width: 10px;
  height: 157px;
  position: absolute;
  border-radius: 28.586904525756836px 0 0 28.586904525756836px;
}

.desktop15-text277 {
  top: 6179.30859375px;
  left: 1356.19921875px;
  color: rgba(38, 42, 89, 1);
  width: 137px;
  height: auto;
  position: absolute;
  font-size: 19.449010848999023px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-rectangle142 {
  top: 5765.41748046875px;
  left: 1825.2763671875px;
  width: 10px;
  height: 538px;
  position: absolute;
  border-radius: 12.36915111541748px;
}

.desktop15-rectangle143 {
  top: 5765.41748046875px;
  left: 1825.2763671875px;
  width: 10px;
  height: 198px;
  position: absolute;
  border-radius: 12.36915111541748px;
}

.desktop15-image88 {
  top: 5799px;
  left: 250px;
  width: 412px;
  height: 323px;
  position: absolute;
}

.desktop15-text278 {
  top: 6013px;
  left: 250px;
  color: rgba(37, 42, 89, 1);
  width: 403px;
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-image94 {
  top: 5760px;
  left: 243px;
  width: 396px;
  height: 310px;
  position: absolute;
}
