.desktop15-image89 {
  top: 6963px;
  left: 1149px;
  width: 371px;
  height: 346px;
  position: absolute;
}
.desktop15-maskgroup1 {
  top: 6950px;
  left: 229px;
  width: 263.1412048339844px;
  height: 400px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop15-rectangle1321 {
  top: -9.094947017729282e-13px;
  left: 0px;
  width: 245px;
  height: 389px;
  opacity: 0.7;
  position: absolute;
  border-radius: 30.861461639404297px;
}
.desktop15-maskgroup2 {
  top: 6726px;
  left: 510.19140625px;
  width: 245.14120483398438px;
  height: 388.5023193359375px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop15-maskgroup3 {
  top: 7133.16357421875px;
  left: 510.191650390625px;
  width: 245.14120483398438px;
  height: 352.5023193359375px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop15-rectangle134 {
  top: 0.00012659143249038607px;
  left: -0.000009042239980772138px;
  width: 245px;
  height: 353px;
  opacity: 0.7;
  position: absolute;
  border-radius: 30.861461639404297px;
}

.desktop15-maskgroup4 {
  top: 6762px;
  left: 781.999755859375px;
  width: 266.6139831542969px;
  height: 331.74737548828125px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.desktop15-rectangle133 {
  top: 0px;
  left: 0.0000021555169951170683px;
  width: 267px;
  height: 332px;
  opacity: 0.7;
  position: absolute;
  border-radius: 27.910932540893555px;
}
.desktop15-maskgroup5 {
  top: 7114.87841796875px;
  left: 779.056640625px;
  width: 265.11517333984375px;
  height: 314.7554016113281px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop15-text143 {
  top: 7225px;
  left: 227.97265625px;
  color: rgba(37, 42, 89, 1);
  width: 151px;
  height: auto;
  position: absolute;
  font-size: 18.199234008789062px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  z-index: 3;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-text144 {
  top: 7248px;
  left: 183px;
  color: rgba(37, 42, 89, 1);
  width: 151px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  z-index: 3;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-text145 {
  top: 7386px;
  left: 502px;
  color: rgba(37, 42, 89, 1);
  width: 171px;
  height: auto;
  position: absolute;
  font-size: 16.420251846313477px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  z-index: 3;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-text146 {
  top: 7408px;
  left: 507px;
  color: rgba(37, 42, 89, 1);
  width: 136px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  z-index: 3;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-text147 {
  top: 7021.83544921875px;
  left: 502px;
  color: rgba(37, 42, 89, 1);
  width: 176px;
  height: auto;
  position: absolute;
  font-size: 16.911312103271484px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  z-index: 3;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-text148 {
  top: 7043px;
  left: 510px;
  color: rgba(37, 42, 89, 1);
  width: 140px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  z-index: 3;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-text149 {
  top: 7355px;
  left: 769px;
  color: rgba(37, 42, 89, 1);
  width: 163px;
  height: auto;
  position: absolute;
  font-size: 15.625115394592285px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  z-index: 3;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-text150 {
  top: 7377px;
  left: 773px;
  color: rgba(37, 42, 89, 1);
  width: 218px;
  height: auto;
  position: absolute;
  font-size: 15.625115394592285px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  z-index: 3;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-text151 {
  top: 7006px;
  left: 775px;
  color: rgba(37, 42, 89, 1);
  width: 153px;
  height: auto;
  position: absolute;
  font-size: 14.721802711486816px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  z-index: 3;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-text152 {
  top: 7026px;
  left: 787.400390625px;
  color: rgba(37, 42, 89, 1);
  width: 199px;
  height: auto;
  position: absolute;
  font-size: 14.721802711486816px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  z-index: 3;
  font-stretch: normal;
  text-decoration: none;
}
.desktop15-image80 {
  top: 7354px;
  left: 993px;
  width: 16px;
  height: 16px;
  z-index: 3;
  position: absolute;
}
.desktop15-image78 {
  top: 7024px;
  left: 692px;
  width: 16px;
  height: 16px;
  z-index: 3;
  position: absolute;
}

.desktop15-image79 {
  top: 7388px;
  left: 691px;
  width: 16px;
  height: 16px;
  z-index: 3;
  position: absolute;
}
.desktop15-image77 {
  top: 7231px;
  left: 405px;
  width: 16px;
  height: 16px;
  z-index: 3;
  position: absolute;
}

.desktop15-image81 {
  top: 7008px;
  left: 995px;
  width: 16px;
  height: 16px;
  z-index: 3;
  position: absolute;
}
.desktop15-text170 {
  top: 7254px;
  left: 1144px;
  color: rgba(37, 42, 89, 1);
  width: 447px;
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop15-rectangle1322 {
  top: 7217px;
  left: 222px;
  width: 205px;
  height: 60px;
  position: absolute;
  z-index: 2;
  border-radius: 0 10px 10px 0;
}

.desktop15-rectangle154 {
  top: 7014px;
  left: 510px;
  width: 205px;
  height: 60px;
  position: absolute;
  z-index: 2;
  border-radius: 0 10px 10px 0;
}

.desktop15-rectangle155 {
  top: 7377px;
  left: 510px;
  width: 205px;
  height: 60px;
  position: absolute;
  z-index: 2;
  border-radius: 0 10px 10px 0;
}

.desktop15-rectangle156 {
  top: 7344px;
  left: 779px;
  width: 238px;
  height: 60px;
  position: absolute;
  z-index: 2;
  border-radius: 0 10px 10px 0;
}

.desktop15-rectangle157 {
  top: 6996px;
  left: 781px;
  width: 238px;
  height: 60px;
  position: absolute;
  z-index: 2;
  border-radius: 0 10px 10px 0;
}
