.desktop15-image83 {
  top: 2374px;
  left: 552px;
  width: 1002px;
  height: 167px;
  position: absolute;
}
.desktop15-rectangle67 {
  top: 2620.810546875px;
  left: 563.5185546875px;
  width: 239px;
  height: 381px;
  position: absolute;
  border-radius: 33.863258361816406px;
}
.desktop15-group41 {
  top: 2718.111328125px;
  left: 529px;
  width: 272.2242431640625px;
  height: 229.38644409179688px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 1;
  justify-content: center;
}
.desktop15-image {
  width: 200px;
  object-fit: cover;
}
.desktop15-rectangle68 {
  top: 2949.052734375px;
  left: 564px;
  width: 239px;
  height: 53px;
  position: absolute;
  border-radius: 0 0 33.863258361816406px 33.863258361816406px;
}
.desktop15-text118 {
  top: 2957.21875px;
  left: 626px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 31.15530776977539px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop15-text134 {
  top: 2639.6904296875px;
  left: 586.9931640625px;
  color: rgba(38, 42, 89, 1);
  height: auto;
  position: absolute;
  font-size: 34.396575927734375px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop15-text129 {
  top: 2686.966796875px;
  left: 586.12109375px;
  color: rgba(38, 42, 89, 1);
  height: auto;
  position: absolute;
  font-size: 17.61465072631836px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop15-rectangle70 {
  top: 2658.1552734375px;
  left: 315px;
  width: 234px;
  height: 346px;
  position: absolute;
  border-radius: 33.863258361816406px;
}

.desktop15-rectangle71 {
  top: 2686.6552734375px;
  left: 818.052734375px;
  width: 221px;
  height: 314px;
  position: absolute;
  border-radius: 33.863258361816406px;
}

.desktop15-rectangle73 {
  top: 2736.7763671875px;
  left: 1054.400390625px;
  width: 261px;
  height: 263px;
  position: absolute;
  border-radius: 33.863258361816406px;
}

.desktop15-rectangle74 {
  top: 2610px;
  left: 1328.5908203125px;
  width: 239px;
  height: 392px;
  position: absolute;
  border-radius: 33.863258361816406px;
}

.desktop15-rectangle76 {
  top: 2949.052734375px;
  left: 1328.5908203125px;
  width: 239px;
  height: 53px;
  position: absolute;
  border-radius: 0 0 33.863258361816406px 33.863258361816406px;
}

.desktop15-text119 {
  top: 2674.1806640625px;
  left: 1359.91796875px;
  color: rgba(38, 42, 89, 1);
  height: auto;
  position: absolute;
  font-size: 17.61465072631836px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-text122 {
  top: 2627.994140625px;
  left: 1360.7900390625px;
  color: rgba(38, 42, 89, 1);
  height: auto;
  position: absolute;
  font-size: 34.396575927734375px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-text123 {
  top: 2706.69140625px;
  left: 1362.0048828125px;
  color: rgba(38, 42, 89, 1);
  height: auto;
  position: absolute;
  font-size: 17.61465072631836px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-text124 {
  top: 2957.21875px;
  left: 1395px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 31.15530776977539px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-text125 {
  top: 2689.001953125px;
  left: 341.5341796875px;
  color: rgba(38, 42, 89, 1);
  height: auto;
  position: absolute;
  font-size: 34.396575927734375px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-text126 {
  top: 2802.078125px;
  left: 1084.5595703125px;
  color: rgba(38, 42, 89, 1);
  height: auto;
  position: absolute;
  font-size: 17.61465072631836px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-vector6 {
  top: 2785.927734375px;
  left: 1352.1767578125px;
  width: 157px;
  height: 148px;
  position: absolute;
}

.desktop15-ellipse35 {
  top: 2759.189453125px;
  left: 1498.3828125px;
  width: 23px;
  height: 23px;
  position: absolute;
}

.desktop15-ellipse36 {
  top: 2762.671875px;
  left: 1501.8671875px;
  width: 16px;
  height: 16px;
  position: absolute;
}

.desktop15-text130 {
  top: 2911.66015625px;
  left: 1190.697265625px;
  color: rgba(38, 42, 89, 1);
  height: auto;
  position: absolute;
  font-size: 17.61465072631836px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-text131 {
  top: 2760.27734375px;
  left: 1085.4306640625px;
  color: rgba(38, 42, 89, 1);
  height: auto;
  position: absolute;
  font-size: 34.396575927734375px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-text132 {
  top: 2734.9384765625px;
  left: 350.490234375px;
  color: rgba(38, 42, 89, 1);
  height: auto;
  position: absolute;
  font-size: 17.61465072631836px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-text133 {
  top: 2771.923828125px;
  left: 350.490234375px;
  color: rgba(38, 42, 89, 1);
  height: auto;
  position: absolute;
  font-size: 17.61465072631836px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-star6 {
  top: 2946.697265625px;
  left: 1089.47265625px;
  width: 31px;
  height: 31px;
  position: absolute;
}

.desktop15-star7 {
  top: 2946.697265625px;
  left: 1131px;
  width: 31px;
  height: 31px;
  position: absolute;
}

.desktop15-star8 {
  top: 2946.697265625px;
  left: 1175px;
  width: 31px;
  height: 31px;
  position: absolute;
}

.desktop15-star9 {
  top: 2946.697265625px;
  left: 1215px;
  width: 31px;
  height: 31px;
  position: absolute;
}

.desktop15-rectangle77 {
  top: 2947.0869140625px;
  left: 818px;
  width: 221px;
  height: 53px;
  position: absolute;
  border-radius: 0 0 33.863258361816406px 33.863258361816406px;
}

.desktop15-text135 {
  top: 2955.3984375px;
  left: 872px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 31.15530776977539px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-text136 {
  top: 2714.6298828125px;
  left: 843.603515625px;
  color: rgba(38, 42, 89, 1);
  height: auto;
  position: absolute;
  font-size: 34.396575927734375px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-text137 {
  top: 2756.767578125px;
  left: 852.560546875px;
  color: rgba(38, 42, 89, 1);
  height: auto;
  position: absolute;
  font-size: 17.61465072631836px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-download30317071 {
  top: 2802px;
  left: 848px;
  width: 47px;
  height: 47px;
  position: absolute;
}

.desktop15-confetti66289501 {
  top: 2816px;
  left: 350px;
  width: 66px;
  height: 66px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}

.desktop15-group1 {
  top: 0px;
  left: 0px;
  width: 66.00009155273438px;
  height: 66.00018310546875px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.desktop15-vector10 {
  top: 38.421875px;
  left: 8.552734375px;
  width: 36px;
  height: 13px;
  position: absolute;
}

.desktop15-vector11 {
  top: 47.8115234375px;
  left: 4.4208984375px;
  width: 25px;
  height: 10px;
  position: absolute;
}

.desktop15-vector12 {
  top: 29.031105041503906px;
  left: 12.684396743774414px;
  width: 31px;
  height: 14px;
  position: absolute;
}

.desktop15-vector13 {
  top: 57.20227813720703px;
  left: 0.00020972061611246318px;
  width: 15px;
  height: 9px;
  position: absolute;
}

.desktop15-vector14 {
  top: 18.91686248779297px;
  left: 16.81622886657715px;
  width: 13px;
  height: 10px;
  position: absolute;
}

.desktop15-vector15 {
  top: 9.1484375px;
  left: 20.8603515625px;
  width: 36px;
  height: 36px;
  position: absolute;
}

.desktop15-vector16 {
  top: 0.000009753451195138041px;
  left: 42.95790481567383px;
  width: 23px;
  height: 23px;
  position: absolute;
}

.desktop15-vector17 {
  top: 0px;
  left: 33.53704833984375px;
  width: 6px;
  height: 14px;
  position: absolute;
}

.desktop15-vector18 {
  top: 26.0390625px;
  left: 52.3203125px;
  width: 14px;
  height: 6px;
  position: absolute;
}
.desktop15-group50 {
  top: 2945.5px;
  left: 1253px;
  width: 31.448301315307617px;
  height: 31.948301315307617px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.desktop15-star11 {
  top: 0.5px;
  left: 0px;
  width: 31px;
  height: 31px;
  position: absolute;
}

.desktop15-star12 {
  top: 0px;
  left: 0.76953125px;
  width: 15px;
  height: 29px;
  position: absolute;
}

.desktop15-rectangle100 {
  top: 2653px;
  left: 1596.40234375px;
  width: 239px;
  height: 346px;
  position: absolute;
  border-radius: 33.863258361816406px;
}
.desktop15-rectangle101 {
  top: 2946.6328125px;
  left: 1596px;
  width: 239px;
  height: 53px;
  position: absolute;
  border-radius: 0 0 33.863258361816406px 33.863258361816406px;
}
.desktop15-text279 {
  top: 2725.1962890625px;
  left: 1622.857421875px;
  color: rgba(38, 42, 89, 1);
  height: auto;
  position: absolute;
  font-size: 17.61465072631836px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-text280 {
  top: 2751.1357421875px;
  left: 1623.328125px;
  color: rgba(38, 42, 89, 1);
  height: auto;
  position: absolute;
  font-size: 17.61465072631836px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-text281 {
  top: 2676.9306640625px;
  left: 1620.384765625px;
  color: rgba(38, 42, 89, 1);
  height: auto;
  position: absolute;
  font-size: 34.396575927734375px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-text282 {
  top: 2954.798828125px;
  left: 1667.857421875px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 31.15530776977539px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-gesa-winners071 {
  top: 2858.9765625px;
  left: 1633.060546875px;
  width: 170px;
  height: 94px;
  position: absolute;
}
