.desktop15-group49 {
  top: 765.506103515625px;
  left: 797.0003662109375px;
  width: 511.4573059082031px;
  height: 70.11567687988281px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.desktop15-rectangle1010 {
  top: 0.000018903258023783565px;
  left: -0.000017392856534570456px;
  width: 227px;
  height: 70px;
  position: absolute;
  border-radius: 15.115682601928711px;
}

.desktop15-rectangle1110 {
  top: 0.000018903258023783565px;
  left: 284.4727783203125px;
  width: 227px;
  height: 70px;
  position: absolute;
  border-radius: 15.115682601928711px;
}

.desktop15-image3210 {
  top: 14.93212604522705px;
  left: 16.330354690551758px;
  width: 461px;
  height: 40px;
  position: absolute;
}
