.desktop15-image86 {
  top: 3476px;
  left: 1331px;
  width: 292px;
  height: 315px;
  position: absolute;
}
.desktop15-text161 {
  top: 3697px;
  left: 1346px;
  color: rgba(38, 42, 89, 1);
  width: 411px;
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop15-text162 {
  font-weight: 500;
}

.desktop15-text163 {
  font-weight: 700;
}

.desktop15-container2 {
  top: 3440px;
  left: 469px;
  width: 793px;
  height: 475px;
  display: flex;
  position: absolute;
  align-items: flex-end;
  justify-content: center;
}
.desktop15-rectangle30 {
  top: 0px;
  left: 0px;
  width: 793px;
  height: 475px;
  position: absolute;
  border-radius: 11px;
}

.desktop15-polygon1 {
  left: 321px;
  width: 150px;
  bottom: 170px;
  height: 150px;
  margin: auto;
  position: absolute;
}

.desktop15-group43 {
  top: 3960px;
  left: 503px;
  width: 202.63157653808594px;
  height: 64.03508758544922px;
  display: flex;
  position: absolute;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);

  align-items: flex-start;
  border-radius: 15.115682601928711px;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.desktop15-rectangle1010 {
  top: 0.000018903258023783565px;
  left: -0.000017392856534570456px;
  width: 227px;
  height: 70px;
  position: absolute;
  border-radius: 15.115682601928711px;
}
.desktop15-rectangle1110 {
  top: 0.000018903258023783565px;
  left: 284.4727783203125px;
  width: 227px;
  height: 70px;
  position: absolute;
  border-radius: 15.115682601928711px;
}
.desktop15-image3210 {
  top: 14.93212604522705px;
  left: 16.330354690551758px;
  width: 461px;
  height: 40px;
  position: absolute;
}
