.desktop15-image56 {
  top: 1792px;
  left: 1793px;
  width: 54px;
  height: 54px;
  z-index: 1;
  position: absolute;
}
.desktop15-image55 {
  top: 1536.656982421875px;
  left: 877px;
  width: 22px;
  height: 42px;
  z-index: 1;
  position: absolute;
}
.desktop15-image58 {
  top: 1489.6185302734375px;
  left: 223.22093200683594px;
  width: 49px;
  height: 48px;
  z-index: 1;
  position: absolute;
}
.desktop15-image95 {
  top: 1401px;
  left: 1668px;
  width: 37px;
  height: 41px;
  z-index: 1;
  position: absolute;
}

.desktop15-image54 {
  top: 1994.4453125px;
  left: 1487.9453125px;
  width: 37px;
  height: 41px;
  z-index: 1;
  position: absolute;
}
