.desktop15-text155 {
  top: 9065.0234375px;
  left: 176.16796875px;
  color: rgba(37, 42, 89, 1);
  width: 144px;
  height: auto;
  position: absolute;
  font-size: 19.935884475708008px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop15-text156 {
  top: 9065.0234375px;
  left: 1737px;
  color: rgba(37, 42, 89, 1);
  width: 144px;
  height: auto;
  position: absolute;
  font-size: 19.935884475708008px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop15-text157 {
  top: 9065.0234375px;
  left: 835px;
  color: rgba(37, 42, 89, 1);
  width: 329px;
  height: auto;
  position: absolute;
  font-size: 19.935884475708008px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop15-vector9 {
  top: 9008.205078125px;
  left: 175.1845703125px;
  height: 1px;
  opacity: 0.3;
  position: absolute;
}
